<div id="modal" class="hidden">
  <div class="fixed inset-0 min-h-screen flex justify-center items-center z-20">
    <div 
      id="modal-content" 
      class="p-5 rounded-lg bg-white sm:my-8 sm:align-middle sm:max-w-lg sm:w-full z-20"
    ></div>
  </div>
  
  <div class="fixed inset-0 opacity-20 bg-black z-10"></div>
</div>