<div id="average-rating" class="flex">
  <% if @avg_rating.present? %>
    <div class="mr-4 text-xl">
      <%= @avg_rating.round(0) %>
    </div>

    <div class="flex">
      <% 5.times do |i| %>
        <div class="star box-content pr-1<%= i < @avg_rating ? " active" : "" %>" data-value="<%= i + 1 %>"></div>
      <% end %>
    </div>
  <% else %>
    <div class="mr-4 text-xl">
      No reviews yet
    </div>
  <% end %>
</div>
