<div class="px-4">
  <div class="w-full max-w-4xl mx-auto">
    <div class="text-5xl font-bold">The minimalist entrepreneur</div>

    <%= link_to "Add review", "#", class: "btn btn-warning edit", id: "add-review-button" %>

    <%= render @reviews %>
  </div>
</div>

