<div class="px-4">
  <div class="w-full max-w-4xl mx-auto">
    <div class="text-5xl font-bold">The minimalist entrepreneur</div>

    <%= link_to "Add review", "#", class: "btn btn-warning edit", id: "add-review-button" %>

    <%= render @reviews %>
  </div>
</div>


<%# backdrop %>
<div id="modal" style="display: none;">
  <div class="fixed inset-0 min-h-screen flex justify-center items-center z-20">
    <div class="p-5 rounded-lg bg-white sm:my-8 sm:align-middle sm:max-w-lg sm:w-full z-20">
      <%= render "form", review: Review.new %>
    </div>
  </div>
  
  <div class="fixed inset-0 opacity-20 bg-black z-10"></div>
</div>
