<div class="px-4">
  <div class="w-full max-w-4xl mx-auto">
    <div class="text-5xl font-bold">The minimalist entrepreneur</div>

    <a 
      href="#" 
      class="btn btn-warning edit" 
      id="add-review-button" 
      data-modal="open" data-path="/reviews/new" data-element="#new-review"
    >Add review</a>

    <div id="reviews">
      <%= render @reviews %>
    </div>
  </div>
</div>

